@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

    --font-family: 'Kumbh Sans', sans-serif;

    --font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: url('./images/bg-pattern-top.svg') top -600px left -300px no-repeat, url('./images/bg-pattern-bottom.svg') bottom -600px right -300px no-repeat;
    background-size: 1200px;
    background-color: var(--Dark-cyan);
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 440px) {
    body {
        padding: 0 1rem;
    }
}